:root{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}

body{
    background-image: url(../src/assets/fond.jpg);
    background-repeat:no-repeat;
    background-size: cover;
    margin: 0;

    p{
        text-align: center;
        font-size: 1.3rem;
        letter-spacing: 1px;
        margin: 0;
    }
}

section.Title {
    display: flex;
    align-items: center;
}


h1 {
    border: solid 5px black;
    width: 70vw;
    text-align: center;
    font-size: 3em;
    transform: rotate(-5deg);
    background-color: rgb(255, 255, 255);
    
}

.logo{
    width: 17vw;
}

.Nav{
    display: flex;
    justify-content: center;
    gap:1vw;
    align-items: center;
    margin-bottom: 2rem;
    
    button{border: solid 5px black;
        font-size: 2vw;
    }

    .active {
        background-color: black;
        color: white;
    }
}

.cards{
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    margin: 2vw 0;
    
    .card:hover{
        transform: scale(1.1);
    }
    .card{
        border-radius: 20px;
        transition: all 1s;
        display: flex;
        flex-direction: column;
        background-color: rgb(255, 255, 255);
        border: 5px solid black;
        width: 20vw;
        box-shadow: 0 0 5px black;
        text-shadow: 0 0 2px black;

    
        img {
            border-radius: 5px;
            margin: 1em;
            height: 20vw;
            box-shadow: inherit;
        }

        p {
            margin: .2rem 0;
        }
    }
    
}

.footer {
    margin-top: 2rem;
    text-align: center;
}